@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background: #262837;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  /* HEADER */
    /* Header Styles */
    #header{
      position: absolute;
      width: 100%;
      height: 120px;
      left: calc(50% - 100%/2);
      top: 0px;

      background: #24292E repeat;
  }

  /* hamburger menu */
  #hamburger {
      position: absolute;
      width: 0%;
      height: 0%;
      left: 10rem;
      top: 45%;

      transform: matrix(-1, 0, 0, 1, 0, 0);
      /* margin-right: 2rem !important ; */
  }

  /* Search */
  #search {
      box-sizing: border-box;

      position: absolute;
      width: 46rem;
      height: 56px;
      left: calc(50% - 752px / 2 - 294px);
      top: 38px;

      background: #1c2126;
      border: 1px solid #2f363d;
      box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.02);
      border-radius: 12px;
      background-color: transparent;

      /* text color */
      color: #fff;
  }

  /* Search Icon */
  #SearchIcon {
      position: absolute;
      width: 23.99px;
      height: 24px;
      left: calc(50% - 23.99px / 2 + 45px);
      top: 45%;
  }

  /* Option Icon */
  #option_icon {
      position: absolute;
      width: 46px;
      height: 46px;
      left: calc(50% - 70px / 2 + 130px);
      top: 35%;

      background: #13b497;
      border-radius: 12px;
      /* margin-right: 1rem; */
  }

  /* Notification */
  #notification{
      position: absolute;
      width: 46px;
      height: 46px;
      left: calc(50% - 86px/2 + 466px);
      top: 35%;

      background: #2F363D;
      border-radius: 12px;
  }
  
  /* Chat Icon */
  #chat_icon{
    position: absolute;
    width: 50px;
    height: 46px;
    left: calc(50% - 76px/2 + 524px);
    top: 35%;

    background: #2F363D;
    border-radius: 12px;
  }

  /* Gift Icon */
  #gift_icon{
    position: absolute;
    width: 46px;
    height: 46px;
    left: calc(50% - 76px/2 + 594px);
    top: 35%;

    background: #2F363D;
    border-radius: 12px;
  }

  /* User icon */
  #user_icon{
    position: absolute;
    width: 56px;
    height: 56px;
    left: calc(50% - 56px/2 + 753px);
    top: 32px;

    background: #C4C4C4;
    border-radius: 12px;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
  }

  /* User Name */
  #user_name{
    position: absolute;
    width: 46px;
    height: 24px;
    left: calc(50% - 46px/2 + 829px);
    top: 30%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
  
  }

   /* User Arrow*/
   #user_arrow{     
    position: absolute;
    left: 90%;
    /* right: 0%; */
    top: 37.5%;
    bottom: 12.5%;

    transform: rotate(180deg);
   }

   #dashboard{
    position: absolute;
    width: 100%;
    height: 63px;
    left: calc(50% - 100%/2);
    top: 120px;

    background: #2D3339;
   }

   #dashboard p{
    position: absolute;
    width: 15rem;
    height: 24px;
    left: calc(50% - 125.56px/2 - 803.35px);
    top: 139px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 17px;

    color: #13B497;
   
   }

 /* CONTENT */

/* First Image */
#firstImage {
  position: absolute;
  width: 61rem;
  height: 590.76px;
  left: calc(50% - 60rem/2 - 578.12px);
  top: 230px;

  background: #272E35;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#firstImage img {
  height: auto;
  width: 125rem;
  border-radius: 15px;
}

/* Second Image */
#secondImage {
  position: absolute;
  width: 878.88px;
  height: 381.21px;
  left: calc(50% - 688.88px/2 + 390.76px);
  top: 230px;

  background: linear-gradient(113.24deg, #13B497 16.01%, #05737A 106.71%);
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#secondImage img {
  height: auto;
  width: 120rem;
  border-radius: 15px;
}

/* Third Image */
#thirdImage {
  margin-top: 3rem;
  position: absolute;
  width: 462.99px;
  height: 181.68px;
  left: calc(50% - 46rem/2 - 686.06px);
  top: 868.76px;

  background: #2F363D;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#thirdImage img {
  margin-top: 1rem;
  height: auto;
  width: 120rem;
  border-radius: 15px;
}

/* Fourth Image */
#fourthImage {
  margin-top: 3rem;
  position: absolute;
  width: 462.99px;
  height: 181.68px;
  left: calc(50% - 40rem/2 - 230.5px);
  top: 868.76px;

  background: #2F363D;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#fourthImage img {
  margin-top: 1rem;
  height: auto;
  width: 120rem;
  border-radius: 15px;
}


/* Fifth Image */
#fifthImage {
  margin-top: 17rem;
  position: absolute;
  width: 462.99px;
  height: 181.68px;
  left: calc(50% - 46rem/2 - 686.06px);
  top: 868.76px;

  background: #2F363D;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#fifthImage img {
  margin-top: 1rem;
  height: auto;
  width: 120rem;
  border-radius: 15px;
}


/* Sixth Image */
#sixthImage {
  margin-top: 17rem;
  position: absolute;
  width: 462.99px;
  height: 181.68px;
  left: calc(50% - 40rem/2 - 230.5px);
  top: 868.76px;

  background: #2F363D;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

#sixthImage img {
  margin-top: 1rem;
  height: auto;
  width: 120rem;
  border-radius: 15px;
}

#title_carousel{
  position: absolute;
  width: 290px;
  height: 57.04px;
  left: calc(50% - 15rem/2 + 165px);
  top: 43rem;
  /* transform: translate(-50%, -50%);   */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;

  color: #FFFFFF;
}

.carousel-container {
/* max-width: 100%; */
overflow: hidden;
position: absolute;
width: 56rem;
height: 37.5rem;
left: calc(50% - 53rem/2 + 458.5px);
top: 48rem;

}

.swiper-container {
width: 100%;
margin: 0 auto;
}

.swiper-slide {
text-align: center;
}

.swiper-pagination {

position: absolute;
width: 149px;
height: 54.22px;
left: calc(50% - 149px/2 + 464.5px);
top: 40rem;

text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
position: absolute;
bottom: 5px;
width: 20px;
height: 20px;
color: #8a8080;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
z-index: 10;
}

.swiper-button-next {
position: absolute;
left: 77.5%;
right: 47.5%;
top: 85%;
bottom: 25%;

color: #FFFFFF;
}

.swiper-button-prev {
position: absolute;
left: 22.5%;
right: 12.5%;
top: 85%;
bottom: 25%;

color: #FFFFFF;
transform: rotate(360deg);
}

}


 /* MOVILE VIEW*/
 @media screen and (max-width:767px) {

  /* HEADER */
  
  #search, #SearchIcon, #chat_icon, #gift_icon,#option_icon, #user_name, #dashboard,#fifthImage {
    display: none;
  } 

 /* Hamburger Icon */
 #hamburger{
   position: absolute;
   width: 46px;
   height: 46px;
   left: 1rem;
   top: 13px;

   transform: matrix(-1, 0, 0, 1, 0, 0);
 }

 /* Notification Icon */
 #notification{
   position: absolute;
   width: 36.52px;
   height: 36.52px;
   left: calc(50% - 36.52px/2 + 78.76px);
   top: 14.57px;

   background: #2F363D;
   border-radius: 12px;
 }

 /* User info */
 #user_icon{
   position: absolute;
   width: 3rem;
   height: 2.3rem;
   left: calc(50% - 66.85px/2 + 147.08px);
   top: 14.57px
 }

 #user_arrow{
   position: absolute;
   left: 22.7rem;
   right: 0%;
   top: 1.7rem;
   bottom: 12.5%;

   transform: rotate(180deg);
 }

  /* CONTENT */
  #secondImage{
      display: none;
  }

  #firstImage{
      position: absolute;
      width: 22rem;
      height: 2rem;
      left: calc(50% - 350.61px/2 + 0px);
      top: 5rem;

      /* background: #272E35; */
      /* box-shadow: 0px 5.89787px 11.3042px rgba(62, 73, 84, 0.04); */
      border-radius: 15px;
  }

  #thirdImage{
    position: absolute;
    width: 351px;
    height: 125.92px;
    left: calc(50% - 351px/2);
    top: 21rem;

    /* background: #2F363D;
    box-shadow: 0px 12.5664px 24.0855px rgba(62, 73, 84, 0.04); */

    border-radius: 15px;
  }

  #fourthImage{    
    position: absolute;
    width: 351px;
    height: 125.92px;
    left: calc(50% - 351px/2);
    top: 31rem;
    
    /* background: #2F363D; */
    /* box-shadow: 0px 12.5664px 24.0855px rgba(62, 73, 84, 0.04); */
    border-radius: 15px;

  }

  #sixthImage{
    position: absolute;
    width: 351px;
    height: 227px;
    left: calc(50% - 351px/2);
    top: 41rem;

    /* background: #2F363D; */
    /* box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04); */
    border-radius: 15px;
  }

  #title_carousel{
    position: absolute;
    width: 349px;
    height: 26px;
    left: 20px;
    top: 51rem;

    /* Card TIttle */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16.8286px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }

  .carousel-container{
    overflow: hidden;
    position: absolute;
    width: 351px;
    height: 200.52px;
    left: calc(50% - 351px/2);
    top: 53.5rem;
    border-radius: 15px;
  }

  .swiper-button-next {
    position: absolute;
    right: 7.5%;
    top: 75%;
    bottom: 25%;
    color: #FFFFFF;
    }

  .swiper-button-prev {
    position: absolute;
    left: 7.5%;
    top: 75%;
    bottom: 25%;
    color: #FFFFFF;
    }
}